<section class="col-xs-12 col-sm-7 col-sm-offset-3  <%= controller.controller_name %>-<%= controller.action_name %>-form">
  <div class="title">
    <h2>Resend confirmation instructions</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="inputs row">
      <div class="fNamegroup group form-group">
        <%= f.text_field :email, autofocus: true, class: "form-control input fName", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <span class="highlight"></span>
        <span class="bar"></span>
        <%= f.label :email, class: "loglabel logfName control-label" %>
      </div>
    </div>
    <div class="form-group actionbuttons">
      <%= f.submit "Resend confirmation instructions", class: "auth-button" %>
    </div>
  <% end %>
  <div class="form-group buttons">
    <%= render "devise/shared/links" %>
  </div>
</section>