<section class="form <%= controller.controller_name %>-<%= controller.action_name %>-form">
    <div class="title">
        <h2>Forgot your Password?</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="inputs row">
            <div class="fNamegroup group form-group">
                <%= f.text_field :email, autofocus: true, class: "form-control input fName" %>
                <span class="highlight"></span>
                <span class="bar"></span>
                <%= f.label :email, class: "loglabel logfName control-label" %>
            </div>
        </div>
        <div class="form-group actionbuttons">
            <%= f.submit "Send password reset", class: "auth-button" %>
        </div>
    <% end %>
    <div class="form-group buttons">
        <%= render "devise/shared/links" %>
    </div>
</section>