<div>
  <div class="post-section">
    <h1 class="post-title"><%= @post.title %></h1>
    <p class="post-author">Author: <%= @post.user.first_name %> <%= @post.user.last_name %></p>
    <p class="post-date">Added to the world on: <%= @post.created_at.strftime("%A %B %d, %Y") %></p>
    <hr>
    <div class="post-body">
      <%= sanitize(@post.body) %>
    </div>
  </div>
  <hr>
  <div class="comments-section">
    <div class="comments-container">
      <% if @post.comments.any? %>
        <% @post.comments.each do | comment | %>
          <div id="comment-<%= comment.id %>" class="comment">
            <p class="comment-author">
              <%= comment.user.first_name %> <%= comment.user.last_name %> says:
            </p>
            <p class="comment-body">
              <%= sanitize(comment.body) %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="add-comment-button" data-post-id="<%= @post.id %>">Add a comment</button>
    <div id="new-comment-form-for-post-<%= @post.id %>" class="new-comment-form">
    </div>
  </div>
</div>