<!-- This method returns the @post_author_check value as true or false based on if this post belongs to the current user.  Found in helpers/post_heler.rb -->
<% is_my_post?(@post) %>

<div>
  <div class="post-section">
    <h1 class="post-title"><%= @post.title %></h1>
    <p class="post-author">Author: <%= @post.user.first_name %> <%= @post.user.last_name %></p>
    <p class="post-date">Added to the world on: <%= @post.created_at.strftime("%A %B %d, %Y") %></p>
    <% if @post_author_check == true %>
      <p class="post-author-links">
        <a href="/posts/<%= @post.id %>/edit">
          <i class="fa fa-edit"></i> | 
          <%= link_to 'X', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </a>
      </p>
    <% end %>
    <hr>
    <div class="post-body">
      <%= sanitize(@post.body) %>
    </div>
  </div>
  <hr>
  <div class="comments-section">
    <% if user_signed_in? %>
      <div>
        <button class="go-to-comment-div add-comment-button" data-post-id="<%= @post.id %>">Add a comment</button>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="comments-container">
      <% if @post.comments.any? %>
        <% @post.comments.each do | comment | %>

          <!-- This method returns the @comment_author_check value as true or false based on if this comment belongs to the current user.  Found in helpers/comment_helper.rb -->
          <% is_my_comment?(comment) %>

          <div id="comment-<%= comment.id %>" class="comment">
            <p class="comment-author">
              <%= comment.user.first_name %> <%= comment.user.last_name %> says:
            </p>
            <p id="comment-body-<%= comment.id %>" class="comment-body">
              <%= sanitize(comment.body) %>
            </p>
            <p id="comment-edit-div-for-comment-<%= comment.id %>" class="edit-comment-container"></p><!-- place AJAX edit form here, hide body above. -->
            <p class="comment-author-links">
              <i class="fa fa-edit edit-comment-link" data-post-id="<%= @post.id %>" data-comment-id="<%= comment.id %>"></i> | 
              <%= link_to 'X', comment, data: { confirm: 'Are you sure?' }, 'data-comment-id' => comment.id, class: 'delete-comment' %>
            </p>
          </div><!-- End comment -->
        <% end %>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div id="add-comment-div">
      <div id="new-comment-form-for-post-<%= @post.id %>" class="new-comment-form"></div>
    </div>
  <% end %>
</div>