<!DOCTYPE html>
<html>
  <head>
    <title>PostBook</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /><!-- Disable horrible auto-skype for contact numbers in IE -->
    <link rel="icon" href="/favicon.png" /><!-- Include a Favicon, (always keep in root of folder) -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %>">
    <% if !devise_controller? %>
    <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>