<!DOCTYPE html>
<html>
  <head>
    <title>PostBook</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" /><!-- Include a Favicon, (always keep in root of folder) -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%=controller.action_name %>">
    <%= yield %>
  </body>
</html>